<div class = "contain">
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <p class="card-text"><%= flat.address %></p>
          <p class="btn btn-primary link"><%= link_to "More", flat_path(flat) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
